In [25]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import zipfile
import json
from pandas import json_normalize

#2 Part B

Before writing the code to webscrape a page, you'll want to inspect the HTML of the website. To do this, click on 'View' on the top of the screen, then 'Developer' -> 'Developer Tools'. The best way to understand the code that popped up on the screen, is to hover over different lines of the code and see what they highlight on the website itself. Another way you can explore, is by left-clicking and choosing 'Inspect' and look at the code brought to you. 

After exploring the website, you'll want to write the line "(venv) $ python -m pip install requests" into the terminal on your labtop. This allows us to read the HTML data into Python. 

In a Python notebook, first import the URL and use the function page = requests.get("Your_URL"). The function retrieves the HTML data and puts it into an object that Python can read. 

By printing page.text(), a code similar to the HTML on the website will print. Unfortunately, this information itself is not super helpful. The tool we use to scrape websites is known as BeautifulSoup. So, we will import it into our notebook, as 'from bs4 import BeautifulSoup'. 

The next command we need to enter into our notebook is 'soup = BeautifulSoup(page.content, 'html.parser')'. The BeautifulSoup library allows us to parse structured data and access certain lines of the HTML similar to the developer tools did when we were exploring the website. The page.content attribute allows us to access the information stored in the HTML, which we can parse and pull out the specific data we're looking for.

In [2]:
URL = "https://www.nytimes.com/books/best-sellers/combined-print-and-e-book-fiction/"
page = requests.get(URL)

soup = BeautifulSoup(page.content, 'html.parser')

Now that we have the ability to parse our HTML, we need to go back to the website itself and use the developer tools to locate the information we want to pull out. We do this in steps, so first we need to find the "id=" line of HTML that highlights all the necessary informtion we're looking for. When we find the id containing our information, we can use the "label" = soup.find(id="Your_ID") function to pull out all the information that is stored under the id that you specified. However, when this gets printed by itself, it isn't in a very useable format, so we use the command results.prettify() to visualize our data better.

In [3]:
results = soup.find(id="site-content")
#print(results.prettify())

Next, we go back into the website's developer tools to locate the line of HTML that highlights the specific elements that we are looking for. The wording here is a little ambigious because this element contains all the indidivual bits of data that we are trying to pull out. In this example, we're looking for a line in the developer tools that highlights the title of the book itself, the author, the publisher, and a description of the book. However, this element that we're pulling out highlights one book at a time, but we will specify the "div" and the "class" so that our program knows that we want to know all the information of the books with that "div" and "class". 

The code we write to achieve this depends on the previous line of code that we wrote before. So whatever we labeled the soup.find() command, will be involved in this next line of code. We use the 
"label2" = "label".find_all("div", class_="") function. With this command, the computer will pull out all the objects with the distinctive "div" and "class".

In [4]:
book_elements = results.find_all("div", class_="css-xe4cfy")
#for book_element in book_elements:
#    print(book_element, end="\n"*2)

To collect the information on the book title, author, publisher, and description, we want to open an array to store these values in. Then we need to create a for loop to search for attributes within our "label2" (book_elements in this example). Back in the developer tools on the website, we want to find the labels that highlight each element we're looking for. In this example, we want the titles of the books, which are described by "h3", class_="css-5pe77f". So we call the "label2".find() function and insert the "h3" and class_="" attributes. We continue this process until we isolate each element that we're looking for. Then, I make a dictionary so I can clearly label my elements and append this dictionary to the data array I opened outside the for loop.

In [5]:
dataframe = []
for book_element in book_elements:
    title_element = book_element.find("h3", class_="css-5pe77f") #title
    author_element = book_element.find("p", class_="css-hjukut") #author
    publisher_element = book_element.find("p", class_="css-heg334") #publisher
    description_element = book_element.find("p", class_="css-14lubdp") #description
    print(title_element.text)
    print(author_element.text)
    print(publisher_element.text)
    print(description_element.text)
    dict1 = {'Title': title_element, 'Author': author_element, 'Publisher': publisher_element, 
            'Description': description_element}
    dataframe.append(dict1)
    print()

DAYDREAM
by Hannah Grace
Atria
The third book in the Maple Hills series. A college student with writer’s block offers to tutor the captain of the hockey team.

IT ENDS WITH US
by Colleen Hoover
Atria
A battered wife raised in a violent home attempts to halt the cycle of abuse; the basis of the film.

IT STARTS WITH US
by Colleen Hoover
Atria
In the sequel to “It Ends With Us,” Lily deals with her jealous ex-husband as she reconnects with her first boyfriend.

THE WOMEN
by Kristin Hannah
St. Martin's
In 1965, a nursing student follows her brother to serve during the Vietnam War and returns to a divided America.

A COURT OF THORNS AND ROSES
by Sarah J. Maas
Bloomsbury
After killing a wolf in the woods, Feyre is taken from her home and placed inside the world of the Fae.

THE HOUSEMAID
by Freida McFadden
Grand Central
Troubles surface when a woman looking to make a fresh start takes a job in the home of the Winchesters.

IRON FLAME
by Rebecca Yarros
Red Tower
The second book in the Empyrean series. Violet Sorrengail’s next round of training might require her to betray the man she loves.

DEMON COPPERHEAD
by Barbara Kingsolver
Harper Perennial
Winner of a 2023 Pulitzer Prize for fiction. A reimagining of Charles Dickens’s “David Copperfield” set in the mountains of southern Appalachia.

THE DARK WIVES
by Ann Cleeves
Minotaur
The 11th book in the Vera Stanhope series. Vera and her team search for a missing teen who may be responsible for murder.

BY ANY OTHER NAME
by Jodi Picoult
Ballantine
A young woman’s play about her ancestor Emilia Bassano, who wrote Shakespeare’s works, is submitted to a festival under a male pseudonym.

THE GOD OF THE WOODS
by Liz Moore
Riverhead
When a 13-year-old girl disappears from an Adirondack summer camp in 1975, secrets kept by the Van Laar family emerge.

A COURT OF MIST AND FURY
by Sarah J. Maas
Bloomsbury
The second book in the Court of Thorns and Roses series. Feyre gains the powers of the High Fae and a greater evil emerges.

THE WEDDING PEOPLE
by Alison Espach
Holt
A woman who is down on her luck forms an unexpected bond with the bride at a wedding in Rhode Island.

THE HOUSEMAID IS WATCHING
by Freida McFadden
Poisoned Pen
The third book in the Housemaid series. Dangers lurk in a quiet neighborhood.

THE HOUSEMAID'S SECRET
by Freida McFadden
Mobius
The second book in the Housemaid series. The sound of crying and the appearance of blood portend misdeeds.

To save my information as a csv file, I use the pandas.DataFrame() command to store my dataframe. Using pandas allows for easy conversion into a csv file, so the next command I use is the .to_csv("Your_File, index=False). However, to use the .to_csv() function, the data frame needs to be saved in a pandas extension, hence changing our original data frame to one in pandas.

In [6]:
data = pd.DataFrame(dataframe)
data.to_csv("NYT Books", index=False)

#1 Part B

When given a csv file to read into python, we can open it in a pandas data frame using the command pd.read_csv("Your_File.csv"). Using the pandas library makes our analysis of the file easier as we can pull certain elements out of the data frame. I like using the df.head() command because it prints the names of each column and the first few rows of the data

In [7]:
df = pd.read_csv("Fraud.csv.zip")
df.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0

In [8]:
df2 = pd.read_csv("online_shoppers_intention.csv")
df2.head()

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue
0,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,Feb,1,1,1,1,Returning_Visitor,False,False
1,0,0.0,0,0.0,2,64.000000,0.00,0.10,0.0,0.0,Feb,2,2,1,2,Returning_Visitor,False,False
2,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,Feb,4,1,9,3,Returning_Visitor,False,False
3,0,0.0,0,0.0,2,2.666667,0.05,0.14,0.0,0.0,Feb,3,2,2,4,Returning_Visitor,False,False
4,0,0.0,0,0.0,10,627.500000,0.02,0.05,0.0,0.0,Feb,3,3,1,4,Returning_Visitor,True,False

When dealing with a json extension, we must use the command "with open("File_Name", 'r') as x:". The with command ensures that Python closes the file after it does what it's supposed to do in the line of code. The open command allows python to read or write directly into the json file and the 'r' command allows python to specifically read the json file. The json.load(x) command loads the data from the file as an object. Normalizing the json with json_normalize() flattens any nested data that may be in the json file. In this example, the time is most likely nested in the data, so we have a column for trans_date_trans_time so that the date and time are nested and flattened.

In [26]:
with open('Augmented_IndiaTransactMultiFacet2024.json', 'r') as f:
    data = json.load(f)

# Flatten the JSON
df3 = json_normalize(data)

df3.head()

,trans_id,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,state,lat,long,city_pop,job,dob,merch_lat,merch_long,is_fraud,customer_id
0,295780.0,12/26/2023 0:55,5.795160e+11,fraud_Bedi-Krish Pvt Ltd,None,8552.65,Baiju,Sharma,F,"043, Lall Nagar, Dhule-732630",...,Rajasthan,-3.661078,145.222241,691077.0,"Surveyor, hydrographic",2/23/1993,-3.676868,145.213831,0.0,NaN
1,825718.0,7/7/2023 7:02,4.126110e+15,None,entertainment,9139.49,Bhavin,Roy,M,None,...,Meghalaya,NaN,-8.625930,NaN,Comptroller,10/20/1994,-14.437954,-8.607795,NaN,6.240000e+18
2,165012.0,4/25/2023 11:53,6.563210e+15,fraud_Hans-Kanda Pvt Ltd,entertainment,7568.37,Yuvraj,Madan,M,"04/41, Bawa Nagar, Khammam 816522",...,Mizoram,76.196973,102.564244,380244.0,Probation officer,10/18/1963,76.214025,102.567219,0.0,-2.610000e+18
3,NaN,5/28/2023 18:26,3.531340e+15,None,entertainment,9074.00,Drishya,Bumb,F,"53/26, Chana Ganj, Varanasi 329560",...,Chhattisgarh,27.840855,93.934433,440893.0,None,4/27/1996,27.838502,93.950223,0.0,2.190000e+18
4,742125.0,2/15/2023 18:55,4.800550e+12,"fraud_Agate, Varkey and Luthra Pvt Ltd",entertainment,5056.81,None,Lal,M,"43/32, Yohannan Zila, Udaipur-067444",...,Jharkhand,81.974419,71.656847,308606.0,Chiropodist,1/19/1994,81.959219,71.668432,0.0,-5.210000e+18

For files that are excel tables, or have the xlsx. extension, I find that it is easier to upload the file in excel to visualize the information you want saved. In this example, the excel sheet had multiple tabs to choose from and I wanted to save the transactions tab, so I saved it as a csv to easily read into python using the steps I talked about above.

In [31]:
#originally a xlsx extension 
df4 = pd.read_csv('KPMG_VI_New_raw_data_update_final(Transactions).csv')
df4.head()

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,...,Unnamed: 246,Unnamed: 247,Unnamed: 248,Unnamed: 249,Unnamed: 250,Unnamed: 251,Unnamed: 252,Unnamed: 253,Unnamed: 254,Unnamed: 255
0,1,2,2950,25/02/2017,False,Approved,Solex,Standard,medium,medium,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,3,3120,21/05/2017,True,Approved,Trek Bicycles,Standard,medium,large,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,37,402,16/10/2017,False,Approved,OHM Cycles,Standard,low,medium,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,88,3135,31/08/2017,False,Approved,Norco Bicycles,Standard,medium,medium,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,78,787,01/10/2017,True,Approved,Giant Bicycles,Standard,medium,large,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

When satisfied with the information obtained, I create a dictionary to clearly name the categories I'm keeping from the data. To attach the new name of my data to the column I am extracting from my files, I call the data frame I read in and its specific column name, such as df2['ProductRelated']. So now my dictionary has names to accurately describe each column and the information from that column in the dataframe. To store and save this dictionary, I want to store it in a pandas dataframe, called newdf.

In [33]:
dict = {'Online Shopper Intention: Product Related': df2['ProductRelated'], 
        'Online Shopper Intention: Product Related Duration': df2['ProductRelated_Duration'], 
        'Online Shopper Intention by Region': df2['Region'],
        'Balance Before Fraud':df['oldbalanceOrg'], 
        'Fraud Amount': df['isFraud'], 
        'Transaction Date and Time': df3['trans_date_trans_time'], 
        'Job of Purchaser': df3['job'],
        'Gender of Purchaser': df3['gender'],
        'Purchase Category': df3['category'],
        'List Price of Product': df4['list_price']}
newdf = pd.DataFrame(dict)

Now that my dictionary is in a pandas dataframe, I can easily save my information to a csv by using the .to_csv('File_Name', index=False). We don't want the index because our columns already have names and don't need further identifiers.

In [34]:
newdf.to_csv('combined_file.csv', index=False)